$blue: #4c9eed;
$light-blue: #87cffb;
$grey: #EFEFEF;
$black: #242424;

body {
    background-color: $grey;
}

.blue-txt {
    color: $blue;
}

.white-txt {
    color: $grey;
}

.black-txt {
    color: black;
}

.blue-line {
    background-color: $blue;
}

.black-background {
    background-color: $black;
}