nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1%;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    li {
        margin-left: 20%;
    }
}

#logo {
    max-width: 5%;
    margin-left: 2%;
}